<div class="container-fluid">
    <div class="row">
        <div class="row">
            <div class="col-md-2 espacio">
                <span>Sucursal:</span>
                
            </div>
            <div class="col-md-10 espacio">
                <select class="inputBasico" [(ngModel)]="idSucursal" (ngModelChange)="cargarClinicas()" name="" id="">
                    <option value="-">
                        Seleccione
                    </option>
    
                    <option *ngFor="let mostOpcion of dataSucursal" value="{{mostOpcion.idSucursal}}">{{mostOpcion.nombre}}</option>
    
                </select>
                
            </div>
            <div class="col-md-2 espacio">
                <span>Clinica:</span>
                
            </div>
            <div class="col-md-10 espacio">
                <select class="inputBasico" [(ngModel)]="idClinica"  name="" id="">
                    <option value="-">
                        Seleccione
                    </option>
    
                    <option *ngFor="let clini of dataClinicas" value="{{clini.idClinica}}">{{clini.nombre}}</option>
    
                </select>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <label for="paciente">Nombre del paciente:</label>
                <input type="text" class="inputBasico" [(ngModel)]="nombrePacientes">
            </div>
            
            <div class="col-md-2 espacio">
                <button mat-raised-button color="primary" (click)="buscarNombrePaciente()" class="full-width">Buscar paciente</button>
            </div>

            <div class="col-12 espacio" >
                <mat-paginator [pageSizeOptions]="[5,10,20]"></mat-paginator>
                <table class="full-width" mat-table [dataSource]="dataSourcePacientes">

                    <ng-container matColumnDef="nombre">    
                        <th mat-header-cell *matHeaderCellDef>Nombre:</th>
                        <td mat-cell *matCellDef="let element">{{element.paciente.nombres}}</td>
                    </ng-container>

                    <ng-container matColumnDef="apellido">    
                        <th mat-header-cell *matHeaderCellDef>Apellido:</th>
                        <td mat-cell *matCellDef="let element">{{element.paciente.apellidos}}</td>
                    </ng-container>

                    <ng-container matColumnDef="accion">    
                        <th mat-header-cell *matHeaderCellDef>accion</th>
                        <td mat-cell *matCellDef="let element"><button mat-raised-button color="primary" (click)="seleccionarPaciente(element)" class="full-width">Seleccionar</button></td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnasTablaPacientes"></tr>
                    <tr mat-row *matRowDef="let rows; columns: columnasTablaPacientes"></tr>

                </table>
            </div>
            <div class="row" *ngIf="paciente != null">
                <h2>Paciente seleccionado</h2>
                <h3>Nombres: {{paciente.nombres}}</h3>
                <h4>Apellidos: {{paciente.apellidos}}</h4>

                <div class="col-md-2">
                    Fecha Hora cita:
                </div>
                <div class="col-md-10">
                    <input type="datetime-local" [(ngModel)]="fechaCita" class="inputBasico">
                </div>
                <div class="col-12 espacio">
                    <button mat-raised-button color="primary" class="full-width" (click)="AgendarCita()"> Agendar Cita </button>
                </div>
            </div>
    </div>
</div>