:host{
    color: var(--primary-text-color);
}

.mat-dialog-container
mat-dialog-container{
    background: var(--primary-background-color);
}

mat-dialog-container{
    background: var(--primary-background-color);
}